.App {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 100px;
}

.button {
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    background-color: cornflowerblue;
}

.button button {
    justify-content: center;
    width: 170px;
    line-height: 3rem;
    border-radius: 2em;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
}

