.input {
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: #a4bcec;
    border-radius: 20px;
    padding: 5px;
    margin-left: 20px;
}

.errorInput {
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: #963434;
    border-color: #f10707;
    border-radius: 20px;
    padding: 5px;
    margin-left: 20px;
}
